<html ng-app="myApp">
<head>
  <script src="vendor/jquery-ui/external/jquery/jquery.js"></script>
  <script src="vendor/jquery-ui/jquery-ui.js"></script>
  <link href="vendor/jquery-ui/jquery-ui.css" rel="stylesheet"></link>
  <link href="styles.css" rel="stylesheet"></link>
  <script src="node_modules/angular/angular.min.js"></script> 
  <!-- // This SHOULD NOT WORK LIKE THIS BUT ITS FINE -->
  <script src="dragula/dist/angular-dragula.js"></script>
  <script src="app.js"></script>
</head>


<body ng-controller="MainCtrl">
  <div class="header">
    <button ng-click="saveLayout()">Save Layout</button>
  </div>
  <div id="container">

<!--     <report-widget style="width: {{ item.width }}; height: {{ item.height }}; top: {{ item.top }}; left: {{ item.left }};" class="ui-widget-content resizeable draggable" info="item" ng-repeat="item in items track by $index"></report-widget> -->

    <report-widget class="resizable draggable ui-widget-content"></report-widget>
  </div>


  <script src="js/init.js"></script>
</body>

</html>