<html ng-app="myApp">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <script src="node_modules/angular/angular.min.js"></script>
      <script src="app.js"></script>
      <title>Practise - angular watch</title>
  </head>
  <body>
    <div ng-controller="MyController">
      <input ng-model="mydata.val">
      <h1>{{ mydata.val }}</h1>

      <input ng-model="mydata.val2">
      <h1>{{ mydata.val2 }}</h1>

      <span style="color: red;" ng-show="mydata.toolong">Name is too long!</span>
    </div>

    <div ng-controller="MyController2">
      
    </div>
  </body>
</html>