<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>
  <link rel="stylesheet" href="test.css" />
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-controller="MainCtrl">

  <div class="account-item">
    <div class="account-heading">
      <h4 class="account-title">
        <a ng-class="{active : activeMenu === 'page1'}" ng-click="activeMenu = 'page1'"> Page 1 </a>
    </h4>
    </div>
  </div>

  <div class="account-item">
    <div class="account-heading">
      <h4 class="account-title">
        <a ng-class="{active : activeMenu === 'page2'}" ng-click="activeMenu = 'page2'"> Page 2 </a>
    </h4>
    </div>
  </div>
  
  <div class="account-item">
    <div class="account-heading">
      <h4 class="account-title">
        <a ng-class="{active : activeMenu === 'page3'}" ng-click="activeMenu = 'page3'"> Page 3 </a>
    </h4>
    </div>
  </div>
</body>

</html>